crewai>=0.114.0
langchain>=0.3.23
langchain-community>=0.3.21
langchain-core>=0.3.54
langchain-text-splitters>=0.3.8
litellm>=1.60.2
ollama>=0.4.8
python-dotenv>=1.1.0
openai>=1.75.0
tiktoken>=0.8.0
pydantic>=2.10.6